<div class="top-navigation">

    <div class="navigation-menu">
        <ul>
            <li style="float:left">
                <a href="/"><img src="./assets/logoGramedia/logo-gramedia.png"></a>
            </li>
            <li>
                <a href="/" class="badge" data-badge="3"><img src="./assets/cartIcon/cart.png"></a>
            </li>

            <li>
                <a href="/" class="badge" data-badge="5"><img src="./assets/notificationIcon/notification.png"></a>
            </li>

            <li>
                <a href="/"><img src="./assets/userIcon/user.png"></a>
            </li>

            <li>
                <div class="search-box">
                    <form action="/action_page.php">
                        <input name="search" type="text"
                            placeholder="Cari Produk, Judul Buku, Penulis"
                            style="background-image: url('./assets/logoGramedia/logo-gramedia.png');">
                        <img src="./assets/searchIcon/search.png" class="search-icon">
                    </form>
                </div>

            </li>

            <li>
                <button class="btn-dropdown" onclick="">Kategori</button>
            </li>

        </ul>

    </div>
</div>