.top-navigation {
    background-color: #281E5A;
    overflow: hidden;
    padding:0 10%;
    box-shadow: 0px 3px 15px 0px rgba(43, 43, 43, 0.48);
}

.navigation-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation-menu li {
  float:right;
  margin:1%;
}

.btn-dropdown{
  cursor: pointer;
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.search-box{
border-radius: 4px;
background-color: white;
margin:auto 2px;

}

.search-box input{
display: inline-block;
border: none;
height: 38px;
border-radius: 4px;
position: relative;
padding:0 20px;
width: 30vw;
}

.search-box .search-icon{
position: relative;
top: 6px;
float: right;
margin-right: 7px;
}