.mySlides {
    display: none
}

.mySlides img {
    height: 310px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 10px;
    top: -32px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: black;
}

.row-flex {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 10px auto;
}

.row-flex div {
    margin: 0 2px;
}

.col-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.col-flex div {
    width: 336px;
    height: 160px;
    background-color: #fff;
}