<div style="margin-top:20px">
    <div style="text-align:right;margin-right:12%;">
        <a href="/" style="font-size: 16px;color: #e61e64;font-weight: 700;text-decoration: none;">Lihat
            Semua</a>
    </div>
    <div class="row-flex">
        <div class="slideshow-container">

            <div class="mySlides" *ngFor='let bmv of bannerMenuValue;'>
                <a [href]="bmv.clickUrl">
                    <img [src]='bmv.image'>
                </a>
            </div>

            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>

            <div style="text-align:center">
                <span class="dot" *ngFor="let banner of bannerMenuValue; let i=index" (click)="currentSlide(i)"></span>
            </div>
        </div>

        <div class="col-flex">
            <div>
                <a [href]="bannerMenuValue[5].clickUrl">
                    <img [src]='bannerMenuValue[5].image'
                        style="height: 150px;width: 100%;object-fit: cover; border-radius: 10px;">
                </a>
            </div>
            <div>
                <a [href]="bannerMenuValue[6].clickUrl">
                    <img [src]='bannerMenuValue[6].image'
                        style="height: 150px;width: 100%;object-fit: cover ; border-radius: 10px;">
                </a>
            </div>
        </div>
    </div>
</div>