/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}

.btn-dropdown{
    cursor: pointer;
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.search-box{
    background-image: url('assets/cartIcon/cart.png');
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.badge {
    position:relative;
 }
 .badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-20px;
    right:0px;
    background:#d92b4c;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
 }